
<%= turbo_frame_tag favorite do %>
  <% if favorite.favoritable_type == "Category" %>
    <%= render partial: "categories/category", locals: { category: favorite.favoritable } %>
  <% end %>
  <% if favorite.favoritable_type == "Board" %>
    <%= render partial: "boards/board", locals: { board: favorite.favoritable } %>
  <% end %>

  <% if favorite.favoritable_type == "RssFeed" %>
    <% feed = favorite.favoritable %>
    <%= turbo_frame_tag feed do %>
      <% feed_marked_favorite = feed.favorites.where(user_id: current_user.id).any? %>
      <div class="favorite-rss-feed nav-list-item dropdown-link rss-feed-level" data-id=<%= feed.id %> data-class="RssFeed" data-marked-favorite=<%= feed_marked_favorite %>>
        <span class="nav-list-item-text">
          <%= link_to rss_feed_path(feed), data: { turbo_frame: "dashboard_index", turbo_action: "replace" } do %>
            <% if feed.favicon_url %>
              <span>
                <img src="<%= feed.favicon_url %>" height="15" width="15" id=logo alt="Logo image" />
              </span>
            <% else %>
              <span style="margin-left: -3px; margin-right: -4px; color: var(--border-clr)">
                <%= inline_svg_tag "feedly-logo-transparent.svg" %>
              </span>
            <% end %>
            <span style="margin-left: 10px">
              <%= feed.title  %>
            </span>
          <% end %>
        </span>
      </div>
    <% end %>
  <% end %>
<% end %>
