<%= render partial: "dashboard/feeds_title_bar", locals: { title: title, category: @category } %>
<% can_show_hide_button = can_show_hide_button? %>
<div class="row <%= default_view %>" style="margin-top: 40px;" id="results-container">
  <% if result.any? %>
    <% result.order("articles.pub_date #{sort_order}").each do |r| %>
      <% next if r["marked_as_read_and_hide"] %>
      <div class="feed-layout col-4" data-article-id="<%= r["id"]%>" data-controller="feed-modal" data-action="click->feed-modal#showModal" data-feed-modal-target="feedLayout" data-turbo-frame="<%= r %>">
        <img src="<%= r["image_url"]%>" class="img-card" width="100%" id=logo alt="Logo image" />
        <div class="bookmark-icons" data-feed-modal-target="feedActions">
          <%= link_to save_read_later_rss_feeds_path(id: r["rss_feed_id"], article_id: r["id"]), data: { turbo_stream: 'top' } do %>
            <i id="read_later_article_<%= r['id'] %>" class="<%= r["read_later"] ?  "fa-solid" : "fa-regular" %> fa-bookmark" data-bs-toggle="tooltip" data-bs-placement="top" title="Read Later" data-controller="general" data-action="click->general#saveReadLater"></i>
          <% end %>

          <%= turbo_frame_tag "boards" do %>
            <%= turbo_frame_tag "article_#{r['id']}" do %>
              <%= render partial: "boards/board_popover", locals: {r: r} %>
            <% end %>
          <% end %>

          <%= link_to mark_read_unread_rss_feeds_path(id: r["rss_feed_id"], article_id: r["id"]), data: { turbo_stream: 'top', action: "click->feed-modal#markRead"} do %>
            <i class="fa-solid fa-check <%= 'marked-read' if r['marked_as_read'] %>" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= r['marked_as_read'] ? 'Mark Unread' : 'Mark Read'%>"></i>
          <% end %>

          <% if can_show_hide_button %>
            <%= link_to mark_read_unread_rss_feeds_path(id: r["rss_feed_id"], article_id: r["id"], hide: true), data: { turbo_stream: 'top', action: "click->feed-modal#markReadAndHide"} do %>
              <i class="fa-solid fa-xmark" data-bs-toggle="tooltip" data-bs-placement="top" title="Mark as Read and hide"></i>
            <% end %>
          <% end %>
        </div>
        <div class="feed-layout-content">
          <p class="title"><%= r["title"]%></p>
          <p class="pub-date"> <%= time_ago(r["pub_date"]) if r["pub_date"] %></p>
          <p class="description"><%= r["description"]%> </p>
        </div>
      </div>
    <% end %>
  <% else %>
    <%= inline_svg_tag "no_feeds.svg", class: ""%>
    <div class="category_form">
      <h2 class="no-feeds">
        Which topics or trends do you want to keep up with?
        <div>
          You can track specific topics or follow websites and newsletters
        </div>
        <div style="text-align: center;">
          <%= link_to new_rss_feed_path, class: 'follow-website-button' do %>
            <%= inline_svg_tag "follow-page.svg" %>
            VISIT WEBSITE
          <% end %>
        </div>
      </h2>
    </div>
  <% end %>
</div>
