<div class="category_form">
  <h2>
    Follow your favorite websites
  </h2>

  <%= form_with(url: search_rss_feeds_path, method: :get, data: { turbo_stream: "true" }, id: "rss-search-form", data: { controller: "error-handler", error_message: @error_message, "error-handler-target"=>"form" }) do |form| %>
    <div style="margin-bottom: 1.5rem;">
      <div class="topic-input">
        <div>
          <i class="fa fa-search"></i>
        </div>
        <%= form.text_field :link, placeholder: "Topic, type, project, etc.", autocomplete: "off", class: "category-text-field", id: "search-input", "data-error-handler-target"=>"link" %>
      </div>
      <div class="error-message" data-error-handler-target="errorMessage">
        <span>RSS Link can't be blank</span>
      </div>

      <% if @error_message %>
        <div class="error-message" style="display: block;" data-error-handler-target="errorMessage">
          <span><%= @error_message %></span>
        </div>
      <% end %>
    </div>
    <div>
      <%= form.submit 'SAVE', class: "action-btn save-category", data: { action: "error-handler#submit" } %>
      <%= link_to dashboard_index_path, class: "action-btn cancel-category no-decoration" do %>
        <span class="close-button" type="button" aria-label="Close">
          CANCEL
        </span>
      <% end %>
    </div>
  <% end %>

  <%= turbo_frame_tag "rss_feed_results"%>
</div>

