<!-- Modal -->
<div data-controller="category_form">
  <div class="modal right" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-category_form-target="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <span class="close-button" type="button" data-bs-dismiss="modal" aria-label="Close">
            <i class="fa-solid fa-xmark"></i>
          </span>
        </div>
        <div class="modal-body">
          <div class="category_form">
            <h2>
              Create New Folder
              <div>
                Group your feeds into a private folder by topic, type, or project
              </div>
            </h2>
            <%= form_with model: Category.new, method: :post, data: { controller: "category-form", action: "turbo:submit-end->category-form#clearInput" } do |form| %>
              <%= form.hidden_field :user_id, value: current_user.id %>
              <div style="margin-bottom: 1.5rem;">
                <div>
                  <label class="category-title">
                    Title
                    <span class="mandatory">*</span>
                  </label>
                </div>
                <div class="category-input" data-category-form-target="input">
                  <%= form.text_field :name, id: "category_title", placeholder: "Topic, type, project, etc.", class: "category-text-field", autocomplete: 'off' %>
                </div>
              </div>
              <div>
                <%= form.submit 'SAVE', id: "create_category_button", class: "action-btn save-category", data: { "bs-dismiss" => "modal" }, disabled: true %>
                <button type="button" class="action-btn cancel-category">
                  <span class="close-button" type="button" data-bs-dismiss="modal" aria-label="Close">
                    CANCEL
                  </span>
                </button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal right" id="feedModal" tabindex="-1" data-controller="general" aria-labelledby="feedModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>

<div data-controller="category_form">
  <div class="modal right" id="boardModal" tabindex="-1" aria-labelledby="boardModalLabel" aria-hidden="true" data-category_form-target="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <%= render partial: "boards/form", locals: { article_id: false } %>
      </div>
    </div>
  </div>
</div>

<script>
  var categoryTitleInput = document.getElementById("category_title");
  var categorySaveButton = document.getElementById("create_category_button");
  categoryTitleInput.addEventListener('input', function() {
    categorySaveButton.disabled = categoryTitleInput.value.trim() === '';
  });
</script>
