<nav class="navbar-container">

  <!--  *****   Navbar Header Starts   *****  -->
  <header class="navbar-header">

    <div class="logo">
      <div class="logoImg">
        <%= link_to dashboard_index_path, data: { turbo_stream: 'top' } do %>
          <img src="logo1.png" width="35px" height="30px" id=logo alt="Logo image" />
        <% end %>
      </div>
    </div>
    <div class="logo">
      <span class="logoImg">
        <%= inline_svg_tag "slider.svg" %>
      </span>
    </div>

  </header>

  <!--  *****   Navbar Header Ends   *****  -->

  <!--  *****   Navbar Links Starts   *****  -->

    <ul class="navbar-links">
      <li>
        <%= link_to new_rss_feed_path, data: { turbo_stream: 'true' } do %>
          <span class="nav-icon" data-label="Topic">
            <%= inline_svg_tag "follow-page.svg" %>
          </span>
        <% end %>
      </li>

      <li>
        <%= link_to "Search path", data: { turbo_stream: 'true' } do %>
          <span class="nav-icon" data-label="Topic">
            <%= inline_svg_tag "search-icon.svg" %>
          </span>
        <% end %>
      </li>

      <li>
        <a tabindex="0"
           data-bs-toggle="popover"
           data-bs-placement="right"
           data-bs-trigger="focus"
           data-bs-custom-class="general-popover theme-popover"
           data-bs-html="true"
           data-bs-content="<%= list_themes %>">

           <span class="nav-icon" data-label="Topic">
             <%= inline_svg_tag "theme.svg" %>
           </span>
        </a>
      </li>

      <li>
        <%= link_to show_read_later_rss_feeds_path, style: "text-decoration: none; display: contents;", data: { turbo_stream: 'top' } do %>
          <span class="nav-icon" data-label="Saved">
            <i class="fa-regular fa-bookmark"></i>
          </span>
        <% end %>
      </li>

      <li>
        <%= link_to recently_read_feeds_rss_feeds_path, style: "text-decoration: none; display: contents;", data: { turbo_stream: 'top' } do %>
          <span class="nav-icon" data-label="Recently read">
            <i class="fa-regular fa-clock"></i>
          </span>
        <% end %>
      </li>

      <li>
        <%= link_to user_settings_path, style: "text-decoration: none; display: contents;", data: { turbo_stream: 'top' } do %>
          <span class="nav-icon" data-label="Settings">
            <i class="fa-solid fa-gear"></i>
          </span>
        <% end %>
      </li>
    </ul>

  <!--  *****   Navbar Links Ends   *****  -->

  <!--  *****   Navbar Footer Starts   *****  -->
  <div class="navbar-footer">

    <div class="logoutBtn">
      <%= link_to destroy_user_session_path, method: :delete do %>
        <span class="nav-icon" data-label="Logout">
          <i class="fa-solid fa-right-from-bracket"></i>
        </span>
      <% end %>
    </div>

    <div class="dark-light-mode">
      <div class="btn-container">
        <div class="button"></div>
      </div>
      <div class="text">Light Mode</div>
    </div>
  </div>
  <!--  *****   Navbar Footer Ends   *****  -->

</nav>
<div class="navbar-container2 <%= show_sidebar? %>">
  <div class="m-t-2">

    <%= link_to dashboard_index_path, style: "text-decoration: none; display: contents;", data: { turbo_stream: 'top' } do %>
      <div class="nav-list-item">
        <span class="nav-icon"><img src="logo4.png" width="20px" height="20px" id=logo alt="Logo image" /></span>
        <span class="nav-list-item-text nav-list-item-text-bold">
          Today
        </span>
      </div>
    <% end %>

    <%= link_to show_read_later_rss_feeds_path, style: "text-decoration: none; display: contents;", data: { turbo_stream: 'top' } do %>
      <div class="nav-list-item">
        <span class="nav-icon"><i class="fa-regular fa-bookmark"></i></span>
        <span class="nav-list-item-text nav-list-item-text-bold">
          Read Later
        </span>
      </div>
    <% end %>
  </div>

  <%= turbo_frame_tag "favorites" do %>
    <div class="nav-heading">
      <span>FAVORITES</span>
    </div>

    <%= render partial: "favorites/favorite", collection: @favorites, as: :favorite %>
  <% end %>

  <div class="nav-heading">
    <span>FEEDS</span>
  </div>

  <div class="nav-list-item">
    <span class="nav-icon" style="display: contents !important">
      <%= inline_svg_tag "all-feeds-icon.svg" %>
    </span>
    <span class="nav-list-item-text nav-list-item-text-bold">
      All
    </span>
  </div>

  <%= turbo_frame_tag "categories" do %>
    <%= render partial: "categories/category", collection: @categories, as: :category %>
  <% end %>

  <div class="nav-list-item" style="margin-top:20px;">
    <span class="nav-list-item-text" style="margin-left:44px;" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Create new folder
    </span>
  </div>

  <%= turbo_frame_tag "boards" do %>
    <div class="nav-heading">
      <span>BOARDS</span>
    </div>

    <%= render partial: "boards/board", collection: @boards, as: :board %>
  <% end %>

  <div class="nav-list-item" style="margin-top:20px;">
    <span class="nav-list-item-text" style="margin-left:44px;" data-bs-toggle="modal" data-bs-target="#boardModal">
      Create new board
    </span>
  </div>

  <div class="nav-list-item" style="margin-top: 30px">
    <%= link_to recently_read_feeds_rss_feeds_path, style: "text-decoration: none; display: contents;", data: { turbo_stream: 'top' } do %>
      <span class="nav-icon"><i class="fa-regular fa-clock"></i></span>
      <span class="nav-list-item-text nav-list-item-text-bold">
        Recently Read
      </span>
    <% end %>
  </div>
</div>
