<!DOCTYPE html>
<html>
  <head>
    <title>FeedlyClone</title>
    <link rel="icon" type="image/png" href="/logo1.png">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "navbar", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "form-modal", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "categories", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "rss_feed", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= turbo_include_tags %>

    <%
=begin%>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
<%
=end%>
  </head>
  <div id="loader" class="spinner-border text-success" style="display: none;" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <body>
    <%= render "layouts/nav_bar" %>
    <div class="main-content">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>

