<!DOCTYPE html>
<html>
  <head>
    <title>FeedlyClone</title>
    <link rel="icon" type="image/png" href="/logo1.png">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "navbar", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "form-modal", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "categories", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "rss_feed", "data-turbo-track": "reload" %>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= turbo_include_tags %>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <%
=begin%>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
<%
=end%>
  </head>
  <div id="loader" class="spinner-border text-success" style="display: none;" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <body data-controller="hello" data-hello-target="body">
    <script>
      toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "9000",
        "timeOut": "2000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
      }
    </script>
    <div id="flash" class="flash">
      <%= render "layouts/flash" %>
    </div>
    <% if user_signed_in? %>
      <%= render "layouts/nav_bar" %>
      <div class="main-content">
        <%= render "layouts/modals"%>
        <div class="container" style="padding-left: 12%; padding-right: 12%; margin-top: 2rem;">
          <%= yield %>
        </div>
      </div>
    <% else %>
      <div class="main-content">
        <div class="container" style="padding-left: 12%; padding-right: 12%; margin-top: 2rem;">
          <%= yield %>
        </div>
      </div>
    <% end %>
  </body>
</html>

